#ifndef SECRETS_H
#define SECRETS_H

#define WIFI_SSID "your_ssid"
#define WIFI_PASSWORD "your_password"
#define FIREBASE_PROJECT_ID "your_project_id"
#define FIREBASE_CLIENT_EMAIL "your_client_email"

const char PRIVATE_KEY[] PROGMEM = "your_private_key";

#endif // SECRETS_H
